/* src/MovieDescription.css */

.movie-description {
    text-align: center;
    padding: 20px;
}

.movie-description h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.movie-description p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}
